/* Reset default margin and padding */
/*body, h2, h3, h4, h5, h6, table, tr, th, td{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
/* Apply box-sizing border-box to all elements */
*, *:before, *:after {
    box-sizing: border-box;
}
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}


.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="phone"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}
input[type="password"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

p {
    color: red;
    margin-top: 10px;
}
